<!DOCTYPE html>
<html>
<head>
    <title>Congre.us - town hall for us</title>
    <!-- load bootstrap and font-awesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="./assets/styles.css"/>

</head>
<body>
<div class="container-fluid">
    
    <!-- Header -->
    <header>
        <div id="title_container">
            <a id="title" href="/">Congre.us - town hall for <strong>us</strong></a>
        </div>

        <!-- Link to angular pages -->
        <ul id="navigation">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>

    </header>

    <div id="main_container" class="row row-fluid">
        
        <div id="meeting_attach" class="col-sm-8">

            

        </div>
        <div id="map" class="col-sm-4">
            
        </div>
            <script>
              var map;
              function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: 29.711, lng: -95.342},
                  zoom: 8
                });

                $.getJSON( "/meetings/list", function(data) {
                    
                    function comp(a, b) {
                        return new Date(a.date) - new Date(b.date);
                    }
                    //sort the array
                    data.sort(comp);
                    
                    for(var i in data) {
                        console.log(data[i].location)
                        if(data[i].location){
                            $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?address="+data[i].location+"&key=AIzaSyBMp-R8qLlYPsCx6QLsxl_UXZlA9_Hdlog", function(output) {
                                console.log(output);
                            });
                        } else {
                            $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?address="+Houston+"&key=AIzaSyBMp-R8qLlYPsCx6QLsxl_UXZlA9_Hdlog", function(output) {
                                console.log(output);
                            });
                        }
                    }
                })
              }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMp-R8qLlYPsCx6QLsxl_UXZlA9_Hdlog&callback=initMap"
            async defer></script>
        
    </div>

</div>
</body>
</html>