body { 
	background: url(gplaypattern.png);
}

.row-fluid{ 
	margin: 0;
	
}

header{ 
	position: fixed;
	z-index: 100;
	height: 130px; 
	width: 100%; 
	background: url(headerbg.jpg) no-repeat; 
	background-position: 50% 44%; 
	-webkit-filter: saturate(50%);
	
}

#title_container{ 
	padding-top: 20px; 
	float: left;
	
}

#title{ 
	font-size: 3.2em; 
	color: white; 
	box-shadow: ;
	-webkit-filter: drop-shadow(3px 3px 1px black);
	
}

#navigation{ 
	padding-top: 34px; 
	float: right;
	list-style-type: none;
}

#navigation li{
	display: inline-block;
	padding-right: 10px;
}

#navigation li a{
	font-size: 2em;
	color: white;
	-webkit-filter: drop-shadow(3px 3px 1px black);
}


/*main styles*/
#main_container{
	padding-top: 145px;
	height: 100%
}

#meeting_attach {
	overflow-y: hidden;
}


#map{
	padding-top: 140px;
	background: #eee;
	min-height: 800px;
	height: 100%;
	position: fixed;
	right: 10px;

}